<div class="peek-slide">
    
</div>



{% schema %}
{
  "name": "Peek Slide",
  "tag": null,
  "blocks": [
    {
      "type": "_heading"
    },
    {
      "type": "button"
    },
    {
      "type": "text"
    },
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "slide_img",
      "label": "Slide image"
    }
  ]
}
{% endschema %}