<div class="peek-slideshow-wrapper">
  
</div>


{% schema %}
{
  "name": "Peek Slideshow",
  "class": "section-peek-slideshow",
  "max_blocks": 8,
  "settings": [

  ],
  "blocks": [
    {
      "type": "_peekslide"
    }
  ],
  "presets": [
  ]
}
{% endschema %}